[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
flake8-docstrings = "*"
pylint = "*"

[packages]
jsonschema = "*"
pretty-midi = "*"
pypianoroll = "*"
requests = "*"
tqdm = "*"
yamale = "*"

[pipenv]
allow_prereleases = true
